//===============================================
// COLOR SET
//===============================================
$header_backgound: #222;
$header_color: #EEE;

$footer_backgound: #444;
$footer_color: #ccc;

//===============================================
// FONT SET
//===============================================
* {
  font-family:
    'Open Sans', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3',
    'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'Lucida Sans Unicode',
    Arial, Verdana, sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

//===============================================
// LENGTH SET
//===============================================
$gold:    1.61;
$normal:  1.0rem;
$m1: $normal / $gold;
$p1: $normal * $gold;
$p2: $p1 * $gold;
$p3: $p2 * $gold;

$content_max_width: 980px;
$article_max_width: 720px;