// @import "../libs/css/materialize.min.css";

//BASE SASS (.scss)
@import "./setting.scss";
@import "./zIndex.scss";

// HEADER
@import "./header/header.scss";
@import "./header/carousel.scss";

// FOOTER
@import "./footer/footer.scss";

// OVERLAY
@import "./overlay/overlay.scss";

// CONTENTS
@import "./contents/content.scss";
@import "./contents/sideber.scss";
@import "./contents/article_list.scss";
@import "./contents/article.scss";
@import "./contents/imagepop.scss";
@import "./contents/breadcrumb.scss";

// COMPONETS
@import "./components/_diviver_button.scss";
@import "./components/_loader.scss";
@import "./components/_dropbox.scss";
@import "./components/_hexagon.scss";

body {
  background-color: $base_background;
}
.none-pointer-event {
  pointer-events: none;
}
a {
  cursor: pointer;
}