//===============================================
// STYLE
//===============================================
.App-footer {
  padding: 10px;
  background-color: $footer_backgound;
  .footer {
    width: 100%;
    max-width: 980px;
    * {
      margin-bottom: 15px;
      list-style: none;
    }
    .footer_item {
      padding: 0 25px;
      h5 {
        border-bottom: 1px solid #666;
        padding: 16px 0;
        pointer-events: none;
      }
    }
  }
  .legal {
    text-align: right;
    div {
      display:inline-block;
      padding: 0 10px;
    }
  }
  * {
    color: $footer_color;
  }
}