.App-pop {
  padding-bottom: $p1;
  pointer-events: none;
  .pop {
    position: relative;
    img {
      width: 100%;
      background-color: #000;
    }
    ._article {
      position: absolute;
      top: 0;
      color: #ffffff;
      h3 {
        font-size: $p2;
        line-height: $p2;
      }
      p {
        margin: 0;
        font-size: $normal;
        line-height: $p1;
        letter-spacing: .065em;
      }

      // &.right {
      //   left: 60%;
      //   padding: $normal;
      // }
      // &.left {
      //   right: 60%;
      //   padding: $normal;
      // }
      // &.top {
      //   top: 0%;
      //   padding: $p1;
      // }
    }
  }
}

//========================================================
// スクロールアニメーション
//========================================================
.App-pop {
  @for $cnt from 1 through 10{
    .pop:nth-child(#{$cnt}) {
      @if $cnt % 2 == 0 {
        animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
      } @else {
        animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
      }
      opacity: 0.0;
      animation-fill-mode: forwards;
      animation-delay: ($cnt*0.5)+s;
      transition-delay: ($cnt*0.5)+s;
    }
  }
}

.App-pop {
  @for $cnt from 1 through 10{
    .pop:nth-child(#{$cnt}) {
      &.invisible {
        //opacity: 0.0;
        //transition: all 1.0s ease;
        //@if $cnt % 2 == 0{transform: rotateY(-180deg);} @else {transform: rotateY( 180deg);}
      }
      &.visible {
        //opacity: 1.0;
        //transition: all 1.0s ease;
        //@if $cnt % 2 == 0 {transform: rotateY(-360deg);} @else {transform: rotateY( 360deg);}
      }
    }
  }
}

.App-pop {
  .pop{
    img {
      &.invisible {
        filter: brightness(1) blur(5px);
        transition: all 1.0s ease;
      }
      &.visible {
        filter: brightness(0.8) blur(0px);
        transition: all 1.0s ease;
      }
    }
    ._article {
      &.invisible {
        h3, p {
          opacity: 0.0;
          transition: all 1.0s ease;
        }
        h3 {
          // font-size: $m1;
        }
      }
      &.visible {
        h3, p {
          opacity: 1.0;
          transition: all 1.0s ease;
        }
        h3 {
          // font-size: $p1;
        }
      }
    }
  }
  .invisible {
    visibility: visible;
  }
}

@keyframes r_imagepop_fadeIn {
    0%    {
      opacity: 0.0;
      transform: translate3d( 30px, 0, 0);
    }
    100%  {
      opacity: 1.0;
      transform: translate3d( 0, 0, 0);
    }
}
@keyframes l_imagepop_fadeIn {
    0%    {
      opacity: 0.0;
      transform: translate3d(-30px, 0, 0);
    }
    100%  {
      opacity: 1.0;
      transform: translate3d( 0, 0, 0);
    }
}

//========================================================
// PC用
//========================================================
@media screen and (min-width: 600px) {
.App-pop {
  .pop {
    img {
      opacity: 1.0;
    }
    ._article {
      padding: 0px;
      h3 {
        font-size: $p2;
        line-height: $p2;
      }
      p {
        margin: 0;
        font-size: $normal;
        line-height: $p1;
        letter-spacing: .065em;
      }

      &.right {
        left: 60%;
        padding: $normal;
      }
      &.left {
        right: 60%;
        padding: $normal;
      }
      &.top {
        top: 0%;
        padding: $p1;
      }
    }
  }
}
}

//========================================================
// スマホ用
//========================================================
@media screen and (max-width: 600px) {
.App-pop {
  .pop {
    img {
      filter: brightness(0.2);
    }
    ._article {
      padding: 16px;
    }
  }
}
}