.App-sideber {
  margin: $p2 0;
  padding: $p1 $m1;
  border-left: solid 1px #e8e8e8;

  ._content {
    margin: $p3 0;
    padding: $m1;
    border-top: solid 1px #e8e8e8;
    ._title {
      font-size: $p1;
      text-align: center;
      margin: $m1 0;
    }
    ._profile {
      img {
        width: 64px;
        height: 64px;
        border-radius: 100%;
        float: left;
        margin-right: 16px;
      }
      ._name {
        margin-top: 32px;
        vertical-align: middle;
      }
      ._clear {
        clear: both;
      }
      ._link {
        width: 100%;
        margin-top: $p1;
        ._social {
          width: 31%;
          margin: 1%;
          padding: 2% 0;
          float: left;
          text-align: center;
          border-radius: 8px;
          i {
            font-size: $p2;
            line-height: $p2;
            color: #FFF;
          }
          &._g { background-color: #4183c4; }
          &._f { background-color: #3B5998; }
          &._t { background-color: #55acee; }
        }
        &:after {
          clear: both;
        }
      }
    }
  }
}
