.App-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.overlay-item {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: all;
  .loader {
    margin-top: -10vw;
    top: 50%;
  }
  &black {
    background-color: rgba(0,0,0,.99);
  }
}

//========================================================
// スクロールアニメーション
//========================================================
body.overlay {
  .App-overlay {
    overflow: hidden;
    transition: all 1.0s ease;
  }
}
