@charset "UTF-8";
* {
  font-family: 'Open Sans', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'Lucida Sans Unicode', Arial, Verdana, sans-serif !important;
  -webkit-font-smoothing: antialiased; }

.App-root {
  z-index: 0; }

.App-overlay {
  z-index: 9999; }

.App-header {
  background-color: #222; }
  .App-header .header {
    padding: 41.473px;
    padding: 2.5921rem;
    text-align: center; }
    .App-header .header img {
      height: 41.473px;
      height: 2.5921rem;
      margin: 0 auto; }
  .App-header .navigation {
    background-color: #222;
    padding: 1px; }
    .App-header .navigation .btn {
      background-color: #222;
      color: #EEE; }

.App-carousel {
  overflow: hidden;
  max-height: 0px;
  opacity: 0;
  -webkit-animation: fadeIn 1.0s ease-in-out 2.0s 1 normal;
          animation: fadeIn 1.0s ease-in-out 2.0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  pointer-events: none; }
  .App-carousel .btn {
    pointer-events: all; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0px; }
  100% {
    opacity: 0.9;
    max-height: 1000px; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0px; }
  100% {
    opacity: 0.9;
    max-height: 1000px; } }

.App-footer {
  padding: 10px;
  background-color: #444; }
  .App-footer .footer {
    width: 100%;
    max-width: 980px; }
    .App-footer .footer * {
      margin-bottom: 15px;
      list-style: none; }
    .App-footer .footer .footer_item {
      padding: 0 25px; }
      .App-footer .footer .footer_item h5 {
        border-bottom: 1px solid #666;
        padding: 16px 0;
        pointer-events: none; }
  .App-footer .legal {
    text-align: right; }
    .App-footer .legal div {
      display: inline-block;
      padding: 0 10px; }
  .App-footer * {
    color: #ccc; }

.App-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none; }

.overlay-item {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: all; }
  .overlay-item .loader {
    margin-top: -10vw;
    top: 50%; }
  .overlay-itemblack {
    background-color: rgba(0, 0, 0, .99); }

body.overlay .App-overlay {
  overflow: hidden;
  -webkit-transition: all 1.0s ease;
  transition: all 1.0s ease; }

.App-contents {
  max-width: 960px; }

.App-list {
  max-width: 980px;
  padding: 66.772px 0;
  padding: 4.17328rem 0; }
  .App-list #article_list_related {
    text-align: center;
    font-size: 41.473px;
    font-size: 2.5921rem; }
  .App-list ._article {
    margin: 41.473px 9.937px;
    margin: 2.5921rem 0.62112rem; }
    .App-list ._article .waves-effect {
      width: 100%;
      background-color: #F3F3F3;
      border-radius: 8px; }
    .App-list ._article ._image {
      width: 100%;
      height: 194px;
      -o-object-fit: cover;
         object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .App-list ._article ._text {
      padding: 25.76px 9.937px;
      padding: 1.61rem 0.62112rem; }
    .App-list ._article ._title {
      font-size: 41.473px;
      font-size: 2.5921rem; }
    .App-list ._article ._date {
      text-align: right; }
    .App-list ._article ._summary {
      padding-top: 16px;
      padding-top: 1rem; }
      .App-list ._article ._summary p {
        margin: 0;
        text-indent: 16px;
        text-indent: 1rem;
        line-height: 25.76px;
        line-height: 1.61rem; }

.App-list ._article.invisible {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0.6;
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0); }

.App-list ._article.visible {
  -webkit-transition: all 1.0s ease;
  transition: all 1.0s ease;
  opacity: 1.0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.App-list ._article.invisible {
  visibility: visible; }

.App-list ._article:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; }

.App-list ._article:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s; }

.App-list ._article:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s; }

.App-list ._article:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s; }

.App-list ._article:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }

.App-list ._article:nth-child(6) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s; }

.App-list ._article:nth-child(7) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s; }

.App-list ._article:nth-child(8) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s; }

.App-list ._article:nth-child(9) {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s; }

.App-list ._article:nth-child(10) {
  -webkit-transition-delay: 2s;
          transition-delay: 2s; }

@-webkit-keyframes article_list_fadeIn {
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(0, 60px, 0);
            transform: translate3d(0, 60px, 0); }
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes article_list_fadeIn {
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(0, 60px, 0);
            transform: translate3d(0, 60px, 0); }
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

/*
@media screen and (max-width: 600px) {
#article_list {
  margin: 0;
  .article_list_article {
    margin: 0;
    padding: 0;
  }
  article {
    margin: $p2 0;
    padding: 0;
    box-shadow: 0px 0px 0px;
    .waves-effect {
      border-radius: 0px;
    }
  }
}
}
*/
.App-article {
  margin-bottom: 0; }
  .App-article ._article {
    padding: 66.772px 25.76px;
    padding: 4.17328rem 1.61rem;
    margin: 66.772px 0;
    margin: 4.17328rem 0; }
    .App-article ._article ._date {
      padding-left: 5px;
      letter-spacing: 5px; }
    .App-article ._article ._title {
      padding-top: 9.937px;
      padding-top: 0.62112rem;
      font-size: 41.473px;
      font-size: 2.5921rem;
      font-weight: bold; }
    .App-article ._article ._chips .chip {
      color: #ffffff; }
    .App-article ._article ._chips ._t {
      background-color: #00aced; }
    .App-article ._article ._chips ._f {
      background-color: #305097; }
    .App-article ._article ._sentence {
      margin-bottom: 66.772px;
      margin-bottom: 4.17328rem; }
      .App-article ._article ._sentence h1 {
        font-size: 25.76px;
        font-size: 1.61rem; }
      .App-article ._article ._sentence h2 {
        position: relative;
        font-size: 25.76px;
        font-size: 1.61rem;
        text-indent: 16px;
        text-indent: 1rem;
        background: #f9f9f9;
        padding: 8px;
        margin-left: 8px;
        border-bottom: 2px solid #cacaca; }
        .App-article ._article ._sentence h2:before, .App-article ._article ._sentence h2:after {
          position: absolute;
          content: "";
          background-color: #a0a0a0; }
        .App-article ._article ._sentence h2:before {
          height: 12px;
          width: 12px;
          top: -6px;
          left: -6px; }
        .App-article ._article ._sentence h2:after {
          height: 8px;
          width: 8px;
          top: 6px;
          left: 6px; }
      .App-article ._article ._sentence h3 {
        font-size: 25.76px;
        font-size: 1.61rem;
        background: #393939;
        color: #fff;
        padding: 16px; }
      .App-article ._article ._sentence h4 {
        font-size: 25.76px;
        font-size: 1.61rem;
        background: #f9f9f9;
        padding: 12px;
        border-left: 8px solid #393939; }
      .App-article ._article ._sentence p {
        margin: 0;
        margin-bottom: 9.937px;
        margin-bottom: 0.62112rem;
        text-indent: 16px;
        text-indent: 1rem;
        font-size: 16px;
        font-size: 1rem;
        line-height: 25.76px;
        line-height: 1.61rem; }
      .App-article ._article ._sentence .codepen {
        width: 100%;
        padding: 16px 0;
        padding: 1rem 0; }

.App-article {
  overflow: hidden; }
  .App-article ._article {
    opacity: 0.0;
    -webkit-animation: article_fadeIn 1.0s ease-in-out 0.8s 1 normal;
            animation: article_fadeIn 1.0s ease-in-out 0.8s 1 normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  .App-article.enter {
    opacity: 1.0;
    max-height: 4000px;
    -webkit-transition: all 1.0s ease;
    transition: all 1.0s ease; }
  .App-article.leave {
    opacity: 0.0;
    max-height: 0;
    -webkit-transition: all 1.0s ease;
    transition: all 1.0s ease; }

@-webkit-keyframes article_fadeIn {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }

@keyframes article_fadeIn {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }

@-webkit-keyframes article_fadeOut {
  0% {
    opacity: 1.0; }
  100% {
    opacity: 0.0; } }

@keyframes article_fadeOut {
  0% {
    opacity: 1.0; }
  100% {
    opacity: 0.0; } }

@media screen and (max-width: 720px) {
  .App-article ._article {
    margin: 0; } }

.App-pop {
  padding-bottom: 25.76px;
  padding-bottom: 1.61rem;
  pointer-events: none; }
  .App-pop .pop {
    position: relative; }
    .App-pop .pop img {
      width: 100%;
      background-color: #000; }
    .App-pop .pop ._article {
      position: absolute;
      top: 0;
      color: #ffffff; }
      .App-pop .pop ._article h3 {
        font-size: 41.473px;
        font-size: 2.5921rem;
        line-height: 41.473px;
        line-height: 2.5921rem; }
      .App-pop .pop ._article p {
        margin: 0;
        font-size: 16px;
        font-size: 1rem;
        line-height: 25.76px;
        line-height: 1.61rem;
        letter-spacing: .065em; }

.App-pop .pop:nth-child(1) {
  -webkit-animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; }

.App-pop .pop:nth-child(2) {
  -webkit-animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }

.App-pop .pop:nth-child(3) {
  -webkit-animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s; }

.App-pop .pop:nth-child(4) {
  -webkit-animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s; }

.App-pop .pop:nth-child(5) {
  -webkit-animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s; }

.App-pop .pop:nth-child(6) {
  -webkit-animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-transition-delay: 3s;
          transition-delay: 3s; }

.App-pop .pop:nth-child(7) {
  -webkit-animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-transition-delay: 3.5s;
          transition-delay: 3.5s; }

.App-pop .pop:nth-child(8) {
  -webkit-animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-transition-delay: 4s;
          transition-delay: 4s; }

.App-pop .pop:nth-child(9) {
  -webkit-animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-transition-delay: 4.5s;
          transition-delay: 4.5s; }

.App-pop .pop:nth-child(10) {
  -webkit-animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-transition-delay: 5s;
          transition-delay: 5s; }

.App-pop .pop img.invisible {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer><feGaussianBlur stdDeviation="5" /></filter></svg>#filter');
  -webkit-filter: brightness(1) blur(5px);
          filter: brightness(1) blur(5px);
  -webkit-transition: all 1.0s ease;
  transition: all 1.0s ease; }

.App-pop .pop img.visible {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.8" /><feFuncG type="linear" slope="0.8" /><feFuncB type="linear" slope="0.8" /></feComponentTransfer><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
  -webkit-filter: brightness(0.8) blur(0px);
          filter: brightness(0.8) blur(0px);
  -webkit-transition: all 1.0s ease;
  transition: all 1.0s ease; }

.App-pop .pop ._article.invisible h3, .App-pop .pop ._article.invisible p {
  opacity: 0.0;
  -webkit-transition: all 1.0s ease;
  transition: all 1.0s ease; }

.App-pop .pop ._article.visible h3, .App-pop .pop ._article.visible p {
  opacity: 1.0;
  -webkit-transition: all 1.0s ease;
  transition: all 1.0s ease; }

.App-pop .invisible {
  visibility: visible; }

@-webkit-keyframes r_imagepop_fadeIn {
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0); }
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes r_imagepop_fadeIn {
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0); }
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@-webkit-keyframes l_imagepop_fadeIn {
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(-30px, 0, 0);
            transform: translate3d(-30px, 0, 0); }
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes l_imagepop_fadeIn {
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(-30px, 0, 0);
            transform: translate3d(-30px, 0, 0); }
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@media screen and (min-width: 600px) {
  .App-pop .pop img {
    opacity: 1.0; }
  .App-pop .pop ._article {
    padding: 0px; }
    .App-pop .pop ._article h3 {
      font-size: 2.5921rem;
      line-height: 2.5921rem; }
    .App-pop .pop ._article p {
      margin: 0;
      font-size: 1rem;
      line-height: 1.61rem;
      letter-spacing: .065em; }
    .App-pop .pop ._article.right {
      left: 60%;
      padding: 1rem; }
    .App-pop .pop ._article.left {
      right: 60%;
      padding: 1rem; }
    .App-pop .pop ._article.top {
      top: 0%;
      padding: 1.61rem; } }

@media screen and (max-width: 600px) {
  .App-pop .pop img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.2" /><feFuncG type="linear" slope="0.2" /><feFuncB type="linear" slope="0.2" /></feComponentTransfer></filter></svg>#filter');
    -webkit-filter: brightness(0.2);
            filter: brightness(0.2); }
  .App-pop .pop ._article {
    padding: 16px; } }

.diviver {
  position: relative;
  width: 100%;
  opacity: 0;
  -webkit-animation: diviver_button_fadeIn 1.0s ease-in-out 2.4s 1 normal;
          animation: diviver_button_fadeIn 1.0s ease-in-out 2.4s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1; }
  .diviver .diviver_button1, .diviver .diviver_button2 {
    position: absolute;
    top: -32px;
    left: 12.5%;
    margin-left: -32px;
    width: 64px;
    height: 64px;
    border-radius: 100%; }
    .diviver .diviver_button1 img, .diviver .diviver_button2 img {
      width: 64px;
      height: 64px;
      padding: 16px; }
  .diviver .diviver_button1 {
    background-color: #2bf28e; }
  .diviver .diviver_button2 {
    background-color: #F66F6F; }
  .diviver.enter {
    -webkit-transition: all 2.0s ease;
    transition: all 2.0s ease; }
    .diviver.enter .diviver_button1 {
      opacity: 0; }
    .diviver.enter .diviver_button2 {
      opacity: 1.0; }
  .diviver.leave {
    -webkit-transition: all 2.0s ease;
    transition: all 2.0s ease; }
    .diviver.leave .diviver_button1 {
      opacity: 1.0; }
    .diviver.leave .diviver_button2 {
      opacity: 0; }

.progress {
  height: 0;
  margin: 0;
  background-color: transparent; }
  .progress .indeterminate {
    background-color: #0000ff;
    opacity: 1.0; }

@-webkit-keyframes diviver_button_fadeIn {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }

@keyframes diviver_button_fadeIn {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }

.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease; }

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }
