// http://csshexagon.com/
.hexagon {
  position: relative;
  width: 200px; 
  height: 115.47px;
  background-color: #d5d5d5;
  margin: 57.74px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 57.74px solid #d5d5d5;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 57.74px solid #d5d5d5;
}