//===============================================
// STYLE
//===============================================
.App-header {
  background-color: $header_backgound;
  .header {
    padding: $p1;
    text-align: center;
    pointer-events: none;
    img {
      height: $p3;
      margin: 0 auto;
    }
  }
  .navigation {
    background-color: $header_backgound;
    padding: 1px;
    .btn {
      background-color: $header_backgound;
      color: $header_color;
      &.disabled {
        background-color: $header_backgound !important;
      }
    }
  }
}